/*
Smartphone
*/
@media (max-width: 767px) {
  .wrapper {
    /* min-height: 100%; */
  }

  ul {
    padding-inline-start: 0px;
  }

  .main {
    max-width: 100vw;
  }

  .col1 {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .col2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin-bottom: 4vh; */
  }

  html {
    font-size: 14px;
  }

  .menu-open {
    width: 39% !important;
  }

  #sidebar {
    padding: 4vh 0;
  }

  #taunts {
    padding: 7vh 0;
  }

  a span {
    padding-right: 10vw;
  }

  .icon {
    font-size: large;
  }

  .post-container p {
    font-size: 14px;
  }

  #posts h2 {
    font-size: 22px;
  }

  blockquote {
    padding-left: 1vw;
  }

  #sidebar a,
  #taunts a {
    font-size: smaller;
  }

  h2,
  h3,
  h4 {
    line-height: 1em;
  }

  header {
    height: 10vh;
  }

  h2 {
    font-size: 1.5em;
  }

  h3,
  h4 {
    font-size: 1em;
  }

  .main {
    margin-bottom: 0;
  }

  #opponent,
  #building,
  #player {
    height: 22.5vh;
    padding: 2vh;
    margin-bottom: 4vh;
  }

  .notifications {
    padding-right: 5vw;
  }

  #hand-area {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 3vw;
    bottom: 3vh;
  }

  .player-tabs {
    height: 10vh;
  }

  /* 
  #back-to-top {
    right: 4vw!important;
  }

  #nav-menu {
    right: 5vw!important;
  } */

  footer {
    /* margin-top: -6vh; */
  }
}
