/*
Tablets
*/
@media (min-width: 768px) and (max-width: 991.98px) {

  .wrapper {
    min-height: 100%;
  }

  .col1 {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .col2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 4vh;
  }

  .post-container {
    flex: none;
    max-width: 100%;
  }

  .post-container p {
    font-size: 18px;
  }

  code {
    font-size: 12px;
  }

  #posts h2 {
    font-size: 24px;
  }

  blockquote {
    padding-left: 1vw;
  }

  html {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .menu-open {
    width: 25%!important;
  }
  
  #sidebar {
    padding: 5vh 0;
  }

  .icon {
    font-size: x-large;
  }

  h2, h3, h4 {
    line-height: 1em;
    padding: 1em 0 0 0;
  }

  h2 {
    font-size: 1.5em;
  }

  h3, h4 {
    font-size: 1em;
  }

  footer {
    margin-top: -6vh;
  }

  .main {
    max-width: 100vw;
  }
}
/*
Smartphone
*/
@media (max-width: 767px) {

  .wrapper {
    min-height: 100%;
  }

  .main {
    max-width: 100vw;
  }

  .col1 {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .col2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 4vh;
  }

  html {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .menu-open {
    width: 30%!important;
  }

  #sidebar {
    padding: 4vh 0;
  }

  .icon {
    font-size: large;
  }

  .post-container p {
    font-size: 14px;
  }

  code {
    font-size: 12px;
  }

  #posts h2 {
    font-size: 22px;
  }

  blockquote {
    padding-left: 1vw;
  }

  h2, h3, h4 {
    line-height: 1em;
    padding: 1em 0 0 0;
  }

  h2 {
    font-size: 1.5em;
  }

  h3, h4 {
    font-size: 1em;
  }

  footer {
    margin-top: -6vh;
  }
}
/*
Desktop
*/
@media (min-width: 992px) {

  .wrapper {
    min-height: 94vh;
  }

  .main {
    max-width: 80vw;
  }

  blockquote {
    margin: 1.3334em;
    padding: 0 1.33334em;
  }

  #posts h2 {
    font-size: 50px;
  }
  html {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .menu-open {
    width: 20%!important;
  }

  #sidebar {
    padding: 6vh 0;
  }

  .icon {
    font-size: x-large;
  }

  h2, h3, h4 {
    padding: .33em;
    line-height: 1.33em;
  }
}

code {
  overflow-x: scroll;
}

body {
  background-color: #ECECEC;
  color: #314455;
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
}

html {
  height: 100%;
}

h1 {
  color: #4682B4;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

#back-to-top svg {
  display: block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.hidden {
  bottom: -4vh;
  opacity: 0;
}

#back-to-top {
  box-shadow: .2vh .2vw;
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2vh; /* Place the button at the bottom of the page */
  right: 1vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #303C6C; /* Set a background color */
  transition: bottom .2s, opacity .2s;
  color: lightgrey; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 1vw; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.resume-info {
  margin-left: 2vw;
}

.music {
  text-align: center;
}

.projects {
  text-align: center;
}

.project-description {
  text-align: left;
  padding: 1vw;
}

i {
  padding: 5px;
}

.col2, .col1 {
  text-align: center;
}

#nav-menu {
  display: block;
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 10;
  height: 4vh;
  transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

em {
  margin: auto;
  display: table;
  font-size: medium;
  font-weight: bold;
}

.generated {
  width: auto;
  max-width: 50vw;
  margin: auto;
  display: block;
  padding-bottom: 1vh;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 85%;
}

.post-container {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 4px solid #F68887;
  font-style: italic;
}

#posts a {
  color: #F68887;
}

#posts a:hover {
  color: #FF9F9F
}

#posts h2 {
  color: #F68887;
  padding: 0;
  margin-left: 1vw;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.post-container h1 { 
  color: #F68887;
}

.post-container h2 {
  color: #A0BFDF;
  font-size: 18px;
  padding: 1vw;
  margin: 0;
}

.post-container h3, h4 {
  border-left: 4px solid #F68887;
  font-style: italic;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.music p {
  padding-left: 3vw;
}

#artarea {
  margin: 1vw;
}

#posts p {
  color: #A0BFDF;
  padding-left: 3vw;
}

#posts li {
  list-style-type: none;
}

#menu {
  height: 4px;
  width: 1.5em;
  background-color: #c4d8e8;
  margin-top: 8px;
}

#menu::before {
  top: -8px;
}

.pagination {
  text-align: center;
  justify-content: center;
  margin: 3vh;
  margin-left: auto;
  margin-right: auto;
}

span.page-item {
  background-color: lightgrey;
}

.page-item {
  margin: .2vw;
  background-color: #F68887;
  color: #FFF;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#menu::after {
  top: 4px;
}

#menu::before, #menu::after {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  width: 1.5em;
  background-color: #c4d8e8;
  transition: all 0.3s ease-in;
}

#sidebar {
  position: fixed;
  display: block;
  background-color: #91CCF4;
  width: 0%;
  top: 0;
  bottom: 0;
  right: -10vw;
  color: #FFF;
  opacity: 0.95;
  z-index: 1;
  transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

header {
  padding: 1em;
  text-align: center;
}

.nav-list::after {
  display: inline-flex;
  content: '';
  width: 20%;
  height: 1px;
  margin-left: 2vw;
  background-color: #FFF;
}

h2, h3, h4 {
  color: #314455
}

.main {
  min-height: 100%;
  margin-bottom: 6vh;
}

div {
  display: block;
}

footer {
  padding: 2vh 0;
  /* margin-top: -6vh; */
  height: 6vh;
  background-color: #F68887;
  color: #314455;
  text-align: center;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 400;
  padding: .33em 0;
}

p a {
  display: inline;
}

.resume-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.resume-body {
  margin-left: auto;
  margin-right: auto;
}

a span {
  display: table-cell;
  position: relative;
  right: -2vw;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#sidebar a:hover {
  color: #4D6E9B;
  background-color: #FF8F8F;
}

a:active {
  color: lightgrey;
  text-decoration: none;
}