code {
  overflow-x: scroll;
}

body {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
}

html {
  height: 100%;
}

h1 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

#back-to-top svg {
  display: block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.hidden {
  bottom: -4vh;
  opacity: 0;
}

#back-to-top {
  box-shadow: 0.2vh 0.2vw;
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2vh; /* Place the button at the bottom of the page */
  right: 1vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  transition: bottom 0.2s, opacity 0.2s;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 1vw; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.resume-info {
  margin-left: 2vw;
}

.music {
  text-align: center;
}

.projects {
  text-align: center;
}

.project-description {
  text-align: left;
  padding: 1vw;
}

i {
  padding: 5px;
}

.col2,
.col1 {
  text-align: center;
}

#nav-menu {
  opacity: 0.9;
  display: block;
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 200;
  height: 4vh;
}

#nav-menu-card {
  opacity: 0.9;
  display: block;
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 200;
  height: 4vh;
}

em {
  margin: auto;
  display: table;
  font-size: medium;
  font-weight: bold;
}

.generated {
  width: auto;
  max-width: 50vw;
  margin: auto;
  display: block;
  padding-bottom: 1vh;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 85%;
}

.post-container {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
}

#posts h2 {
  padding: 0;
  margin-left: 1vw;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.post-container h2 {
  font-size: 18px;
  padding: 1vw;
  margin: 0;
}

.post-container h3,
h4 {
  font-style: italic;
  padding-left: 1em;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.music p {
  padding-left: 3vw;
}

#artarea {
  margin: 1vw;
}

#posts p {
  padding-left: 3vw;
}

#posts li {
  list-style-type: none;
}

#menu {
  height: 4px;
  width: 1.5em;
  margin-top: 8px;
}

#menu::before {
  top: -8px;
}

#menu::after {
  top: 4px;
}

#menu::before,
#menu::after {
  content: '';
  display: block;
  position: relative;
  height: 4px;
  width: 1.5em;
}

.index > a {
  display: initial;
}

.wrapper {
  min-height: 94vh;
}

.pagination {
  text-align: center;
  justify-content: center;
  margin: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.page-item {
  margin: 0.2vw;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#sidebar,
#taunts {
  position: fixed;
  display: block;
  width: 0%;
  top: 0;
  bottom: 0;
  right: -9vw;
  opacity: 0.95;
  z-index: 1;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

header {
  padding: 1em;
  text-align: center;
}

.nav-list::after {
  display: inline-flex;
  content: '';
  width: 20%;
  height: 1px;
  margin-left: 2vw;
}

.midiDevice {
  padding: 2vw;
  color: #063a6c;
}

.chord {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 1vw;
  font-size: x-large;
}

.main {
  min-height: 100%;
  margin-top: 1vw;
  margin-bottom: 5vh;
}

.index {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

.menu-open {
  width: 20% !important;
}

div {
  display: block;
}

footer {
  /* margin-top: -6vh; */
  height: 6vh;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  font-weight: 400;
  padding: 0.33em 0;
}

p a {
  display: inline;
}

.resume-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.resume-body {
  margin-left: auto;
  margin-right: auto;
}

.resume-body h2 {
  margin-bottom: 0.5vh;
  border-bottom: 1px solid currentColor;
}

a span {
  display: table-cell;
  position: relative;
  right: -2vw;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#player .stock .play-card .inner:before {
  content: attr(data);
  position: absolute;
  color: black;
  top: -25px;
}

#opponent .stock .play-card .inner:before {
  content: attr(data);
  position: absolute;
  color: black;
  top: 150px;
}

a:active {
  text-decoration: none;
}

.projects > h3 {
  margin-top: 1em;
}

.projects > img {
  padding-bottom: 1em;
  border-bottom: 0.1em double white;
}

/*===========+
 |Card Styles|
 +===========*/

.play-card {
  /* width: 105px; */
  height: 150px;
  float: left;
  border: 1px solid black;
  background: #fff;
  border-radius: 5px;
  display: table;
  /* padding: 5px; */
  box-sizing: border-box;
  /* font-size: large; */
  text-align: left;
  position: relative;
}

.play-card .inner {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  overflow: hidden;
}

.play-card .mark {
  display: inline-block;
  vertical-align: middle;
  background: white;
  margin: auto;
  font-size: larger;
  padding: 0 26px;
  border-radius: 100px 60px / 120px 60px;
  line-height: 1.4;
}

.play-card:before,
.play-card:after {
  display: inline-block;
  position: absolute;
  line-height: 0;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000,
    1px -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000,
    0 1px 0 #000000, 2px 2px 0 #000000;
}

.play-card:before {
  top: 15px;
  left: 10px;
}

.play-card:after {
  bottom: 15px;
  right: 10px;
  -webkit-transform: rotate(180deg);
}

.play-card.wild:before,
.play-card.wild:after {
  content: '*';
}

.play-card.num-1:before,
.play-card.num-1:after {
  content: '1';
}

.play-card.num-2:before,
.play-card.num-2:after {
  content: '2';
}

.play-card.num-3:before,
.play-card.num-3:after {
  content: '3';
}

.play-card.num-4:before,
.play-card.num-4:after {
  content: '4';
}

.play-card.num-5:before,
.play-card.num-5:after {
  content: '5';
}

.play-card.num-6:before,
.play-card.num-6:after {
  content: '6';
}

.play-card.num-7:before,
.play-card.num-7:after {
  content: '7';
}

.play-card.num-8:before,
.play-card.num-8:after {
  content: '8';
}

.play-card.num-9:before,
.play-card.num-9:after {
  content: '9';
}

.play-card.num-10:before,
.play-card.num-10:after {
  content: '10';
}

.play-card.num-11:before,
.play-card.num-11:after {
  content: '11';
}

.play-card.num-12:before,
.play-card.num-12:after {
  content: '12';
}

.play-card.wild:before,
.play-card.wild:after {
  content: '*';
}

#play-area {
  display: inline-block;
}

#hand .play-card {
  margin-right: 1vw;
}
#hand-area {
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 3vw;
}

#hand {
  min-width: max-content;
}

.hidden,
.hidden * {
  display: none;
}

.hand-size {
  text-align: center;
  padding-left: 35vw;
  padding-right: 35vw;
}

.stock-size {
  text-align: center;
  padding-left: 30vw;
  padding-right: 30vw;
}

.name-area {
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

/*======================+
 |For the marquee effect|
 +======================*/

.notifications {
  overflow: hidden;
}
.notifications .on {
  font-size: 1em;
  width: 100%;
  margin: 0;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: notifications 6s linear infinite;
  -webkit-animation: notifications 6s linear infinite;
  animation: notifications 6s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes notifications {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes notifications {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes notifications {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/*=====================+
 |For the notifications|
 +=====================*/

#opponent .stock:before, #player .stock:before {
  content: attr(data);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  height: 0;
  position: absolute;
  position: absolute;
  top: 50%;
  left: -2vw;
}

#next-turn {
  margin: auto;
}

#num-cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#note {
  position: absolute;
  z-index: 101;
  background-color: white;
  top: 40vh;
  left: 0;
  right: 0;
  font-size: x-large;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
}

.slide {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  -moz-animation: fadeOut 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* Firefox */
  -webkit-animation: fadeOut 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* Safari and Chrome */
  -o-animation: fadeOut 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* Opera */
  animation: fadeOut 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation-fill-mode: cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-fill-mode: cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
