/* COLOR */

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAAAAA;
}

/* BACK TO TOP BUTTON */

#back-to-top {
  background-color: #389583 ; /* Set a background color */
  color: lightgrey; /* Text color */
  border: .1em solid white;
}

/* LINKS */

a:active {
  color: lightgrey;
}

a {
  color: #FFFFFF;
}

/* FOOTER */

footer {
  color: #E2E2E2;
  background-color: #389583;
}

footer > div {
  background-color: #389583;
}

/* HEADER */

header {
  background-color: #063A6C;
}

/* SIDEBAR */

#sidebar {
  background-color: #063A6C;
  color: #AFABA0;
}

#sidebar a {
  color: white;
}

#sidebar a:hover {
  color: black;
  background-color: #99CED2;
}

hr { 
  display: block; height: 1px;
  border: 0; border-top: 1px solid white;
  margin: 1em 0; padding: 0; 
}

/* 3 LITTLE BAR THINGS FOR SIDEBAR */

#menu {
  background-color: #389583;
}

#menu::before,
#menu::after {
  background-color: #389583;
}

/* WHITE BAR BETWEEN SECTIONS OF SIDEBAR */

.nav-list::after {
  background-color: #fff;
}


span.page-item {
  color: darkgrey;
}

a.page-item:hover {
  color: #99CED2;
}

span.page-item:hover {
  color: none;
}

/* DATE TAG OF POSTS */

#posts p {
  color: #99CED2;
}

/* THE POST LINK */

a {
  color: #389583;
}

a:hover {
  color: lightblue;
}

/* POST PREVIEW */

blockquote {
  border-left: 4px solid #063A6C;
}

/* CODE */

pre {
  color: grey;
}

body {
  background-color: #EDF5E0;
  color: black;
}

/* HEADERS */

h1 {
  color: #EDF5E0;
}

#posts h2 {
  color: #389583;
}

.post-container h3,
h4 {
  border-left: 4px solid #063A6C;
}

.post-container h2 {
  color: #389583;
}

h2,
h3,
h4 {
  color: #389583  ;
}

/* END COLOR */

code {
  overflow-x: scroll;
}

body {
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
}

html {
  height: 100%;
}

h1 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

#back-to-top svg {
  display: block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.hidden {
  bottom: -4vh;
  opacity: 0;
}

#back-to-top {
  box-shadow: 0.2vh 0.2vw;
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2vh; /* Place the button at the bottom of the page */
  right: 1vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  transition: bottom 0.2s, opacity 0.2s;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 1vw; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.resume-info {
  margin-left: 2vw;
}

.music {
  text-align: center;
}

.projects {
  text-align: center;
}

.project-description {
  text-align: left;
  padding: 1vw;
}

i {
  padding: 5px;
}

.col2,
.col1 {
  text-align: center;
}

#nav-menu {
  display: block;
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 10;
  height: 4vh;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

em {
  margin: auto;
  display: table;
  font-size: medium;
  font-weight: bold;
}

.generated {
  width: auto;
  max-width: 50vw;
  margin: auto;
  display: block;
  padding-bottom: 1vh;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 85%;
}

.post-container {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
}

#posts h2 {
  padding: 0;
  margin-left: 1vw;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.post-container h2 {
  font-size: 18px;
  padding: 1vw;
  margin: 0;
}

.post-container h3,
h4 {
  font-style: italic;
  padding-left: 1em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.music p {
  padding-left: 3vw;
}

#artarea {
  margin: 1vw;
}

#posts p {
  padding-left: 3vw;
}

#posts li {
  list-style-type: none;
}

#menu {
  height: 4px;
  width: 1.5em;
  margin-top: 8px;
}

#menu::before {
  top: -8px;
}

#menu::after {
  top: 4px;
}

#menu::before,
#menu::after {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  width: 1.5em;
}

.index > a {
  display: initial;
}

.wrapper {
  min-height: 94vh;
}

.pagination {
  text-align: center;
  justify-content: center;
  margin: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.page-item {
  margin: 0.2vw;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#sidebar {
  position: fixed;
  display: block;
  width: 0%;
  top: 0;
  bottom: 0;
  right: -10vw;
  opacity: 0.95;
  z-index: 1;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

header {
  padding: 1em;
  text-align: center;
}

.nav-list::after {
  display: inline-flex;
  content: "";
  width: 20%;
  height: 1px;
  margin-left: 2vw;
}

.midiDevice {
  padding: 2vw;
  color: #063A6C;
}

.chord {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 1vw;
  font-size: x-large;
}

.main {
  min-height: 100%;
  margin-top: 1vw;
  margin-bottom: 6vh;
}

.index {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

.menu-open {
  width: 20% !important;
}

div {
  display: block;
}

footer {
  /* margin-top: -6vh; */
  height: 6vh;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  font-weight: 400;
  padding: 0.33em 0;
}

p a {
  display: inline;
}

.resume-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.resume-body {
  margin-left: auto;
  margin-right: auto;
}

a span {
  display: table-cell;
  position: relative;
  right: -2vw;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

.projects > h3 {
  margin-top: 1em;
}

.projects > img {
  padding-bottom: 1em;
  border-bottom: 0.1em double white;
}