/*
Tablets
*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper {
    min-height: 100%;
  }

  .col1 {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .col2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 4vh;
  }

  .post-container {
    flex: none;
    max-width: 100%;
  }

  #sidebar a {
    font-size: inherit;
  }

  .post-container p {
    font-size: 18px;
  }

  html {
    font-size: 14px;
  }

  #posts h2 {
    font-size: 24px;
  }

  blockquote {
    padding-left: 1vw;
  }

  .menu-open {
    width: 25% !important;
  }

  #sidebar {
    padding: 5vh 0;
  }

  .icon {
    font-size: x-large;
  }

  h2,
  h3,
  h4 {
    line-height: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3,
  h4 {
    font-size: 1em;
    padding-left: 1em;
  }

  footer {
    margin-top: -6vh;
  }

  .main {
    max-width: 100vw;
  }

  header {
    height: 10vh;
  }

  .post-container {
    max-width: 700px;
  }
}
