extends layout
block content
    .row
        .col-md-12.index
            p Hey! I'm Matt Farstad, a software developer and full-stack web developer specializing in desktop/mobile applications and IOT. You can learn about my various interests in my projects and personal section from the sidebar.
            p For my resume, click #[a(href="https://www.mfarstad.com/resume") here.]