extends layout
block content
    .row
        .col-md-6.index
            p Hey! I'm Matt Farstad, a software developer and full-stack web developer specializing in desktop/mobile applications and IOT. You can learn about my various interests in my #[a(href="https://www.mfarstad.com/projects") projects] and #[a(href="https://www.mfarstad.com/personal") personal] section from the sidebar.
            p For my resume, click #[a(href="https://www.mfarstad.com/resume") here.]