extends layout

block content
    .row
        .col-md-12.music
            h1 Music
            i “It’s not the note you play that’s the wrong note – it’s the note you play afterwards that makes it right or wrong.”
            p    - Miles Davis
    .row
        .col-md-6.col1
            h2 Bandcamp
            p 
                i 2018
            <iframe style="border: 0; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=2759885597/size=large/bgcol=ffffff/linkcol=63b2cc/minimal=true/transparent=true/" seamless><a href="http://tuckerzodd.bandcamp.com/album/perimeter-check">Perimeter Check by Tucker Zodd</a></iframe>
        .col-md-6.col2
            h2 Soundcloud
            i 2019 (Album Release Soon!)
            a(href='https://soundcloud.com/tucker-zodd/sets/hindsight') Hindsight

