extends layout

block content
    .row
        .col-md-12.music
            h1 Music
            i “It’s not the note you play that’s the wrong note – it’s the note you play afterwards that makes it right or wrong.”
            p    - Miles Davis
    .row.d-flex.justify-content-around
        .col-6.flex-column.d-flex.justify-content-center.align-items-center
            span
                i 2018
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=2759885597/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://tuckerzodd.bandcamp.com/album/perimeter-check">Perimeter Check by Tucker Zodd</a></iframe>
        .col-6.flex-column.d-flex.justify-content-center.align-items-center
            span
                i 2020
            <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=1918010253/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="https://tuckerzodd.bandcamp.com/album/hindsight">Hindsight by Tucker Zodd</a></iframe>
