#note
.d-flex.container-fluid.row.col-12
  .col-4.btn-group.btn-group-toggle.d-flex.align-items-center.player-tabs.justify-content-around
    .btn.btn-secondary.active.player-tab.player-2-button.hidden
      input#player2(type="radio" name="options" autocomplete="off" checked)
      span#player2text
    .btn.btn-secondary.player-tab.player-3-button.hidden
      input#player3(type="radio" name="options" autocomplete="off")
      span#player3text
    .btn.btn-secondary.player-tab.player-4-button.hidden
      input#player4(type="radio" name="options" autocomplete="off")
      span#player4text
  .col-8.d-flex.justify-content-center.align-items-center.notifications
    span.notification-text Waiting for a full party...
#registration-area.d-flex-align-items-center.justify-content-around.col-12.row
  .col-12.d-flex-align-content-center.justify-content-between.hand-size
    .form-group
      label(for='cardNumber') How Many Cards to Wrangle?
      select#cardNumber.form-control
        option 5
        option 7
  .col-12.d-flex-align-content-center.justify-content-between.stock-size
    .form-group
      label(for='stockNumber') How Many to Stockpile?
      select#stockNumber.form-control
        option 15
        option 20
        option 25
        option 30
  .col-12.d-flex-align-content-center.justify-content-between.name-area
    .form-group
      label(for='playerName') What's Yer Name?
        textarea#playerName.form-control(rows='1')
  button(type='button').btn.btn-secondary.btn-lg.register Register
#play-area.col-12
  #opponent.hidden.col-12.d-flex.justify-content-between.row.align-content-center
      .stock.col-3.d-flex.justify-content-between
      .discard.d-flex.justify-content-between.col-9
          .play-card(data-opponent-number='1')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-opponent-number='2')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-opponent-number='3')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-opponent-number='4')
              span.inner
                span.mark &nbsp;&nbsp;
  #building.hidden.col-12.d-flex.justify-content-between.row.align-content-center
      .draw.col-3.d-flex.flex-column
          span#num-cards.d-flex.align-content-center.justify-content-between
      .stacks.d-flex.justify-content-between.col-9
          .play-card(data-play-number='1')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-play-number='2')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-play-number='3')
              span.inner
                span.mark &nbsp;&nbsp;
          .play-card(data-play-number='4')
              span.inner
                span.mark &nbsp;&nbsp;
  #player.hidden.col-12.d-flex.justify-content-between.row.align-content-center
      .stock.col-3.d-flex.justify-content-between
      .discard.d-flex.justify-content-between.col-9
        .play-card(data-discard-number='1')
              span.inner
                span.mark &nbsp;&nbsp;
        .play-card(data-discard-number='2')
              span.inner
                span.mark &nbsp;&nbsp;
        .play-card(data-discard-number='3')
              span.inner
                span.mark &nbsp;&nbsp;
        .play-card(data-discard-number='4')
              span.inner
                span.mark &nbsp;&nbsp;
#hand-area.d-flex.align-content-center.justify-content-between.hidden
    #hand.row.col-12.d-flex.justify-content-between