.d-flex.align-items-center.player-tabs.container-fluid.justify-content-around
  .player-tab
    button 2
  .player-tab
    button 3
  .player-tab
    button 4
#play-area
  #opponent.col-12.d-flex.justify-content-between.row
      .stock.col-3.d-flex.justify-content-between
          .play-card
              span.inner
                span.mark 1
      .discard.d-flex.justify-content-between.col-9
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
  #building.col-12.d-flex.justify-content-between.row
      .draw.col-3.d-flex.justify-content-between
          .play-card.facedown
              span.inner
                span.mark 1
      .stacks.d-flex.justify-content-between.col-9
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
  #player.col-12.d-flex.justify-content-between.row
      .stock.col-3.d-flex.justify-content-between
          .play-card
              span.inner
                span.mark 1
      .discard.d-flex.justify-content-between.col-9
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
  #hand-area
      #hand.row.col-12.d-flex.justify-content-between
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1
          .play-card
              span.inner
                span.mark 1