extends layout

block content
    .row
        .col-md-12.projects
            h2 Projects
            i Here's where I put projects I think ought to see the light of day.

            hr

            h3 
                a(href='https://github.com/mathaou/JZODD') JZODD - String-Based MIDI Composition
            img(src='/images/jzodd.png')

            h3 Tech Used: JavaFX, Java, Regex

            .project-description
                p Software I wrote using Java and JavaFX that can create .midi files from binary up based on an input string. Not necessarily intuitive, similar to #[a(href='http://www.jfugue.org/') jfugue] in terms of how the chord symbols work in terms of specifying inversions and octaves, but I added tags and repeat elements, as well as instantaneous playback within the application. 
                p What I think it rather neat is that it abstracts away the rut a lot of composers find themselves in with individual note values and formats like a score. Instead, the user specifies a rhythm for left and right hand (with the ability to specify individual notes within the modal scale that the underlying chord comes from), which can then, in turn, also be tagged and repeated. Bass in this case refers to the left hand playing single note values vs. the same amount of flexibility as right hand. Blocky chord voicings tend to sound muddy in the lower register, so I made it simple and more like how I personally play the piano.
                p The only thing the user has to watch out for is that the number of chord changes (: in JZODD) and the total number of chords are the same, but I implemented a variety of exceptions for various circumstances, that then can override the GUI element that draws out your corrent progress (durations, chord changes, tooltips show chord) with STDERR.
                p Only really supposed to be used by me so there's no tutorial, but I made the README pretty explainitory. Lots of room for expansion, but I have compiled all of my ideas and am saving them for a possible electron app in future. Better to start over from scratch, anyway. Best way to be more careful with the pitfalls I encountered the first time around.

            hr

            h3
                a(href='https://github.com/mathaou/showcase') Personal Website/ Resume/ Portfolio

            h3 Tech Used: Express.js, Pug, ES6, AWS, Node.js, Flow, Babel, CSS

            .project-description
                p You're using this one! I wanted a landing page for any future employers for all my pertinent information in one place. This also serves as a sort of web design showcase, so a two-fer. I can document (read: blog) any projects, music, or misc. on the home page, and I have portals for specific things that I want people to have access to.
                p Made using Express.js, Pug, and ES6 + Flow. Heavy amounts of css, too.

            hr