extends layout

block content
    .row
        .col-md-6.resume-block
            h1 Résumé
            p 
                | You can view my resume as a .pdf 
                a(href='/files/resume_cv.pdf') here
                |  otherwise you can scroll to view my extended work.
    .row
        .col-md-10.resume-body
            ol
                li
                    a(href='#skills') Skills
                li
                    a(href='#work-experience') Work Experience
                    ul
                        li
                            a(href='#semireg') Semireg Industries, LLC
                        li
                            a(href='#wsu-work') Winona State University
                        li
                            a(href='#tutor') Online Computer Science Tutor
                li
                    a(href='#education') Education
                    ul
                        li
                            a(href='#wsu') Winona State University
                li
                    a(href='#ec') Extracurriculars
                    ul
                        li
                            a(href='#aws') Amazon Web Services Fundamentals Certification
                        li
                            a(href='#music') Composer and Producer
            h2#skills Skills
            .resume-info
                p
                    strong Programming Languages: 
                    | Java, Python, Javascript ES6, C#, SQL, PHP, HTML, CSS
                p
                    strong Libraries and Technologies: 
                    | UWP, Selenium, JDBC, ODBC, JQuery, JSP, React.js, Hibernate, JavaFX, Swing, Junit, Git, Vim, JSON, MQTT, NATS, Node.js, Express.js, Pug, Eslint, Webpack, Babel, Flow, NPM, AJAX, Electron.js, Docker, MS Azure, Redis, Redux, AWS
                p
                    strong Software: 
                    | Eclipse, Visual Studio, VSCode, TFS, Test Studio, JavaFX Scene Builder, Windows 10, OSX, Linux Mint, AWS Console
            h2#work-experience Work Experience
            h3#semireg Fastenal
            .resume-info
                p
                    strong Software Developer
                p 
                    | February 2020 - Present
                ul
                    li Expanded supported devices for Product Locator kiosk from 1 to 80.
                    l1 Migrated user data from .json to .NET Realm seamlessly, including offline-only support.
                    li Created fake customer generation software in Go to streamline development of new features.
                    li Created REST API for generation of customer data from Realm.

            h3#semireg Semireg Industries, LLC
            .resume-info
                p
                    strong Software Consultant
                p 
                    | May 2019 - May 2020
                ul
                    li Developed flexible framework for emulation of label printers with Python using Facedancer21 library.
                    li Created MQTT-based label printer emulation software using Python and Node.js.
                    li IoT work involving Docker, Node.js, Redis, NATS, and Microsoft Azure IoT.
                    li Prototyping mobile applications with React and Redux.

            h3#wsu-work Winona State University
            .resume-info
                p
                    strong Software Tester and Developer
                p 
                    | October 2016 - May 2020
                ul
                    li Cross compiled Python modules written in C from x86 to run on MIPS Linux for use in router.
                    li Developed Android applications using React Native to supplement device portal.
                    li Developed UI unit tests for proprietary device management applications.
                    li Tested new releases of proprietary software and wrote detailed bug reports for the engineering team.
                    li Developed responsive SQL query builder front end for database for ease of use throughout company.
            h3#tutor Chegg.com
            .resume-info
                p
                    strong Online Computer Science Tutor
                p 
                    | March 2019 - November 2020
                ul
                    li Approved to tutor Java, Python, and Computer Science.
                    li Developed curriculum for students on a case-by-case basis.
                    li Received a 100 % satisfaction rating over 60 sessions (as of December 12th, 2019).

            h2#education Education
            h3#wsu Winona State University
            .resume-info
                p
                    strong B.S. in Computer Science /// 3.43 / 4.0
                p
                    | August 2016 - May 2020
                p
                    strong Relevant Courses: 
                p
                    | Networking and Telecommunications, Applied Database Management, Database Systems Design, Intro to Web Programming, Fundamentals of Distributed Application Development, Software Engineering, Computer Systems, Data Structures, Mathematical Foundation of Algorithms, Human Computer Interaction, Embedded Systems, Computer Security, Operating Systems, Theory of Computation, Machine Learning, Principles of Programming Languages, Advanced Networking, Practicum in Computer Science
            h2#ec Extracurriculars
            h3#aws Amazon Web Services Fundamentals Certification
            .resume-info
                p
                    strong coursera.org
                p
                    | December 2019
                p
                    | In depth Amazon Web Services certification course taught by Amazon employees on manipulation of AWS to provide robust, maintainable, and widely available solutions for a variety of business practices.
            h3#music Tucker Zodd /// Composer and Producer
            .resume-info
                p
                    a(href='https://tuckerzodd.bandcamp.com/') Releases