#sidebar.d-flex.justify-content-start.flex-column
    .nav-list
        a(href='/personal') 
            span Personal
        a(href='/projects')
            span Projects
        a(href='/resume')
            span Résumé
        a(href='/music')
            span Music
        a(href='/zodd')
            span Mingus-Zodd
    .nav-footer.d-flex.justify-content-start.flex-column
        a(href='https://github.com/mathaou', target='_blank')
            span.icon
                i.fa.fa-github-square
        a(href='https://www.linkedin.com/in/matthewfarstad/', target='_blank')
            span.icon
                i.fa.fa-linkedin-square
        a(href='mailto:matthewwilliamfarstad@gmail.com')
            span.icon
                i.fa.fa-envelope-o
a#nav-menu
    #menu
        