extends layout 
block content 
  .row
    .col-md-8.post-container
      h1 Skip-Bo Clone
      h2 22 Feb 2020
      p Skip-Bo is a great game - google it if you haven’t heard. The problem, however, comes when you run out of cards and have to shuffle. Since the nature of the game is to create a sequential series of cards from 1-12, if you don’t shuffle absolutely perfectly there’s a chance that someone may draw several cards in a row, which can be annoying. After jokes about getting an automatic shuffler just for Skip-Bo, I eventually thought it might be better just to bring the game to my website. That way shuffling would be automatic and it would generally just make the game more enjoyable by automating the tedious bits.
      h4 Websockets, mah bess fwend
      p Node.js maintains the state, and controls what data the clients are displaying. The clients handle user interaction and making sure the packets sent to the server happen only when the interaction is valid. For example, nothing happens when the user has a card from the stockpile and tries to discard it - that would undermine the whole point of the game and eat up unnecessary bandwidth.
      p
      img(src="http://i.imgur.com/ch7kEiA.png",alt="").generated
      p Only optimized for mobile because this is for personal use and I would never use the app on desktop. Link is private because I ain’t trying to pay for anyone elses’ usage.