#taunts.d-flex.justify-content-start.flex-column
    .nav-list
        a
            span Eat shit!
        a
            span How dare you!
        a
            span I guess?!
        a
            span Yeah, OK!
        a
            span That's what you get, you fucking asshole!
        a
            span Potato!
        a
            span UEGHHHH?!
        a
            span Dick Cheney made money off the Iraq war.
        a
            span *throat sounds*
        a
            span Way to block me, dickhead!
        a
            span Kindly refrain.
        a
            span I'm telling mom!
a#nav-menu-card
    #menu
        