#taunts.d-flex.justify-content-start.flex-column
    .nav-list
        a
            span Eat shit!
        a
            span How dare you!
        a
            span I guess?!
        a
            span Yeah, OK!
        a
            span That's what you get, you fucking asshole!
        a
            span Potato!
a#nav-menu
    #menu
        