#taunts.d-flex.justify-content-start.flex-column
    .nav-list
        a
            span How dare you!
        a
            span I guess?!
        a
            span Yeah, OK!
        a
            span Potato!
        a
            span UEGHHHH?!
        a
            span *throat sounds*
        a
            span Way to block me!
        a
            span Kindly refrain.
        a
            span I'm telling mom!
        a
            span I can't believe you've done this...
a#nav-menu-card
    #menu
        