extends layout

block content
    .row.col-12.d-flex
        .col-12.d-flex.justify-content-center
            h3 Plug in a MIDI device and tickle those ivories! See a real-time chord analysis (desktop only due to MIDI requirement).
        hr
        .row.col-12.d-flex.justify-content-center
            #midi-list
        .col-12.d-flex
            #chord-list.col-12


    script(type='text/javascript' src='/socket.io.slim.js')
    script(type='text/javascript' src='/socket.io-stream.js')
    script(type='text/javascript' src='/mqtt.js')
    script(type='text/javascript' src='/javascripts/midiSocket.js')